<%- include ('../layouts/header.ejs') %>

    <div class="container">
        <form action="" class="row g-3">
            <div class="row">
                <div class="col-md-1" style="border: 1px none red;">
                    <label class="form-label">NickName</label>
                </div>
                <div class="col-md-2" style="border: 1px none red;">
                    <input class="form-control" type="text" name="" id="">
                </div>
            </div>

            

            <div class="row mt-4" style="border: 1px solid red;">
                <div class="col-md-6" style="border: 1px solid red;">
                    <label class="form-label">Name</label>
                    <input class="form-control" type="text" name="" id="">
                </div>

                <div class="col-md-2 text-end" style="border: 1px solid red;">
                    <label class="form-label">Last Name</label>
                </div>
                <div class="col-md-3" style="border: 1px solid red;">
                    <input class="form-control" type="text" name="" id="">
                </div>
            </div>

            <div class="row g-3">
                <div class="col-auto">
                    <label  class="form-label">Points</label>
                    <input class="form-control" type="text" name="" id="">
                  </div>
                  <div class="col-auto">
                    <label class="form-label">Country</label>
                    <input class="form-control" type="text" name="" id="">
                  </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Country</label>
                    <select class="form-control">
                        <option value="as">Merceds</option>
                        <option value="as">Ferrai</option>
                        <option value="as">RedBull</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="EDIT CUSTOMER" class="btn btn-primary mt-2">
        </form>

        <form class="row g-3" action="" method="post">
            <div class="row g-3">
                <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                  </div>
            </div>
            <div class="row g-3">
                <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                  </div>
                  <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                  </div>
                </div>
            
            

          </form>
    </div>

    <%- include ('../layouts/footer.ejs') %>